body
{
  font-family:sans-serif;
}
.box
{
  font-weight: bold;
  -webkit-transition: all .5s;
  -webkit-border-radius: 5px;
  line-height: 50px;
  color: #222222;
  background: #e3e3e3;
  width: 200px;
  text-align: center;
}
.box:hover
{
  color: white;
  background: #333;
  cursor: pointer;
}

/*
div.main       { width: 100%; border: 0px solid gray; }
div.manga      { width: 100%; border: 0px solid gray; }

header  { color:black; background-color: white; text-align: center; }
footer  { color:white; background-color: black; text-align:left; }
nav     { text-align:center; }
section { text-align:left; }
*/
